.redirect-comprar {
    display: flex;
    background:linear-gradient(300deg, rgb(26, 26, 26) 0%,rgb(0, 0, 0)  100%);
    margin-top: 1rem;

    @include celular {
        flex-direction: column-reverse;
    }
    

    .img-section {
        width: 50%;
        overflow: hidden;

        @include celular {
            width: 100%;
        }

        img{
            height: 32rem;
            width: 100%;
            object-fit: cover;
            transition: .5s;

            @include celular {
                height: 25rem;
            }
            

            &:hover{
                scale: 1.1;
            }
        }
    }

    .container-texto-redirect{
        display: flex;
        padding: 2rem;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        @include celular {
            width: 100%;
        }

        h2{
            font-size: 2rem;
            color: white;
            font-family: montserrat;
            font-weight: bold;
        }

        p{
            color: white;
            font-family: montserrat;
            font-weight: 200;
        }

        button {
            height: 2.5rem;
            border-radius: 1.5rem;
            background-color: rgb(255, 255, 255);
            border: none;

            &:hover {
                scale: 1.1;
            }

            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
                margin: .5rem;
            }
        }
    }
}