.nosotros-container{
    background:linear-gradient(300deg, rgb(26, 26, 26) 0%,rgb(0, 0, 0)  100%);
    display: flex;
    margin: 1rem 0;
    padding: 1rem;

    @include celular{
        flex-direction: column;
    }
    
    .container-card-n{
        margin: 7rem 1rem;
        width: 50%;
        @extend %centrar;
        @include celular{
            width: 100%;
            margin: 1rem 0;
        }
        .card{
            background:linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); 
                backdrop-filter: blur(10px);
                border: .1rem solid rgba(255, 255, 255, 0.3);
            .card-body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                
                h1{
                    font-size: 2rem;
                    font-family: montserrat;
                    font-weight: 700;
                    color: rgb(255, 255, 255);
                }
                p{
                    font-family: montserrat;
                    font-weight: 200;
                    color: rgb(255, 255, 255);
                }
                button {
                    height: 2.5rem;
                    border-radius: 1.5rem;
                    background-color: rgb(255, 255, 255);
                    border: none;
                    transition: .5s;
                    
                    a {
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                    }

                    &:hover {
                        scale: 1.1;
                    }
                }
            }
        }
    }
    

    .container-iframe-n {
        display: flex;
        width: 50%;
        margin: 1rem 1rem;
        @include celular{
            width: 100%;
            height: 20rem;
            margin: 1rem 0;
        }
        iframe{
            border-radius: 0.5rem;
            width: 100%;
        }
    }
    
}